
        <div class="container" id="tela-login">
            <div class="row justify-content-center">
                <div class="logo col-xl-12">
                    <img src="../img/voxus_logo_company.png" height="100" alt="logo-voxus"/>
                </div>
                <div class="logo col-xl-12">
                    Desafio Dev Voxus
                </div>  
                <div class="row justify-content-center" id="login">
                       <div class="g-signin2 col-xl-12" data-onsuccess="onSignIn"></div>	  
                </div>
                
                
            </div>
        </div>
        <div class="criado-por">Criado por Victor Burghi</div>
